/* section 3 with courasel */

.slide{
    color: black;
    size: 50%;
}

.carousel-control.right{
    background-image: none;
}
.carousel-control.left{
    background-image: none;
}

.item{
    position: relative;
}

.carousel-caption{
    position: absolute;
    top: 150px;
    left: 80px;
}
.caption2{
    top: 0px!important;
    }
.carousel-caption h3{
    text-align: left;
    color: black;
}

.carousel-caption p{
    text-align: left;
    color: black;
}
.carousel-caption button{
    color: white;
    background: brown;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    position: absolute;
    left: 0;
}
